### SQLite Database

In [33]:
import sqlite3

### Connect to database

In [32]:
connection = sqlite3.connect("GradesDB.db")
connection.close()

### Create table

In [28]:
connection = sqlite3.connect("GradesDB.db")
cursor = connection.cursor()

create_table = """
                CREATE TABLE STUDENTS ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                AI_GRADE INTEGER,
                MATH_GRADE INTEGER,
                COMPUTER_VISION_GRADE INTEGER
              );"""

cursor.execute(create_table)
connection.commit()
connection.close()

### Sample data

In [ ]:
students = [("Ali","M", 100, 100, 100),
            ("Roz","F", 50, 69, 93),
            ("Mark","M", 65, 55, 92),
            ("Jeniffer","F", 80, 26, 19),
            ("Alex", "F", 100, 90, 90)]

### Insert data INTO table

In [30]:
connection = sqlite3.connect("GradesDB.db")
cursor = connection.cursor()

i=1
for student in students:

    insert_statement = """INSERT INTO STUDENTS 
                      (student_id, name, gender, AI_GRADE, MATH_GRADE, COMPUTER_VISION_GRADE)
                       VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(i, student[0], student[1], 
                                                              student[2],student[3], student[4])

    cursor.execute(insert_statement)
    i+=1

connection.commit()
connection.close()

### Extract data

In [31]:
connection = sqlite3.connect("GradesDB.db")
cursor = connection.cursor()

# or select *
query = "SELECT student_id, name, gender, AI_GRADE, MATH_GRADE, COMPUTER_VISION_GRADE FROM STUDENTS"

cursor.execute(query) 

result = cursor.fetchall() 

for row in result:
    print(row)

    connection.close()

(1, 'Ali', 'M', 100, 100, 100)
(2, 'Roz', 'F', 50, 69, 93)
(3, 'Mark', 'M', 65, 55, 92)
(4, 'Jeniffer', 'F', 80, 26, 19)
(5, 'Alex', 'F', 100, 90, 90)