### Microsoft SQL Server database

#### install package

In [12]:
!conda install -y -q pymssql

Fetching package metadata .................
Solving package specifications: ..........

Package plan for installation in environment C:\Program Files\Anaconda2:

The following NEW packages will be INSTALLED:

    pymssql: 2.1.3-py27_0

In [13]:
import pymssql

### Connecting to database

In [14]:
cnx= {
      'host': 'localhost',
      'username': 'test',
      'password': 'test',
      'db': 'tempDB'} 

conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
conn.close()

### Creating table

In [15]:
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
cursor = connection.cursor()

create_table = """
                CREATE TABLE STUDENTS ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                AI_GRADE INTEGER,
                MATH_GRADE INTEGER,
                COMPUTER_VISION_GRADE INTEGER
              );"""

cursor.execute(create_table)
connection.commit()
connection.close()

### Sample Data

In [1]:
students = [("Ali","M", 100, 100, 100),
            ("Roze","F", 50, 69, 93),
            ("Mark","M", 65, 55, 92),
            ("Jeniffer","F", 80, 26, 19),
            ("Alex", "F", 100, 90, 90)]

### Inserting data

In [16]:
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
cursor = connection.cursor()

i = 1
for student in classroom_data:

    insert_statement = """INSERT INTO STUDENTS 
                      (student_id, name, gender, AI_GRADE, MATH_GRADE, COMPUTER_VISION_GRADE)
                       VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(i, student[0], student[1], 
                                                              student[2],student[3], student[4])
    cursor.execute(insert_statement)
    i +=1

connection.commit()
connection.close()

### Extracting data

In [ ]:
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
cursor = connection.cursor()

query = "SELECT * FROM students"
cursor.execute(query) 

result = cursor.fetchall() 

for row in result:
    print(row)
connection.close()